@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Spartan', sans-serif;

  /* --fw-light: 300;
  --fw-regular: 400; */
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /* Text */
  --clr-black-text: hsla(0, 0%, 0%, 1);
  --clr-white-text: hsla(0, 0%, 100%, 1);
  --clr-grey-text: hsla(0, 0%, 63%, 1);

  /* Background  */
  --clr-black-bg: hsla(0, 0%, 0%, 1);
  --clr-white-bg: hsla(0, 0%, 100%, 1);
  --clr-dark-grey-bg: hsla(0, 0%, 27%, 1);
}

body {
  background-color: var(--clr-white-bg);
  color: var(--clr-grey-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 1.666;
  text-align: left;
  letter-spacing: -0.25px;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-black-text);
  font-size: var(--fs-28);
  line-height: 1.12;
  letter-spacing: -1.17px;
}

.sm-title {
  text-transform: uppercase;
  color: var(--clr-black-text);
  font-weight: var(--fw-bold);
  font-size: var(--fs-12);
  letter-spacing: 5px;
}

.text {
  font-size: var(--fs-12);
}

.footer__text {
  font-size: var(--fs-10);
}

.btn--main {
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 10px;
}

/* ================== */
/* Links */
/* ================== */
.nav-item-link {
  color: var(--clr-black-text);
  font-weight: var(--fw-semi-bold);
  text-decoration: none;
  font-size: var(--fs-12);
}

.footer__text a {
  color: var(--clr-white-text);
}

/* ================== */
/* Buttons & inputs */
/* ================== */
.btn {
  cursor: pointer;
}

.btn--main {
  border: none;
  background: transparent;
}

.btn--arrow {
  background: var(--clr-black-bg);
  padding: 0.9em 1.25em;
  border: none;
}

.arrow-svg {
  transform: scale(0.75);
}

/* ================== */
/* Utility styles */
/* ================== */
.wrapper {
  position: relative;
}

.hidden {
  display: none;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* HEADER */
.nav-buttons {
  position: absolute;
  top: 48px;
  left: 24px;
}

.logo {
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-buttons__close-icon {
  display: none;
}

.navbar {
  display: none;
}

/* MAIN */

.main__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.grid-a {
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-a__mobile-container {
  background: url('./images/mobile-image-hero-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 95%;
  width: 100%;
  height: 0;
}

.grid-a__desktop-container {
  display: none;
}

.grid-b {
  position: relative;

  padding: 4.5em 2em;
}

.grid-b .text {
  margin-top: 0.875em;
}

.btn--main {
  margin-top: 3.25em;
}

.icon-arrow {
  margin-left: 1em;
}

.slider-buttons {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);

  display: flex;
}

.grid-c {
  background: url('./images/image-about-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 63.25%;
  width: 100%;

  height: 0;
}

.grid-d {
  padding: 3.5em 2em;
}

.grid-e {
  background: url('./images/image-about-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60.5%;
  width: 100%;

  height: 0;
}

.secondary-copy .text {
  margin-top: 0.5em;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.footer__text {
  color: var(--clr-black-text);
  text-align: center;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Laptop */
@media (min-width: 1270px) {
  /* TYPOGRAPHY */
  .title {
    font-size: var(--fs-40);
    letter-spacing: -1.67px;
  }

  .text {
    font-size: var(--fs-12);
  }

  .footer__text {
    font-size: var(--fs-12);
  }

  /* SECTIONS */

  /* Header */

  /* Main */
  .main__grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-a {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 7;
  }

  .grid-a__mobile-container {
    display: none;
  }

  .grid-a__desktop-container {
    display: block;

    background: url('./images/desktop-image-hero-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70%;
    width: 100%;
    height: 0;
  }

  .grid-b {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 7;
    grid-column-end: 10;
  }

  .grid-c {
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 1;
    grid-column-end: 4;
  }

  .grid-d {
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 4;
    grid-column-end: 8;
  }

  .grid-e {
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 8;
    grid-column-end: 11;
  }
}
