@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Spartan', sans-serif;

  /* --fw-light: 300;
  --fw-regular: 400; */
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /* Text */
  --clr-black-text: hsla(0, 0%, 0%, 1);
  --clr-white-text: hsla(0, 0%, 100%, 1);
  --clr-grey-text: hsla(0, 0%, 63%, 1);

  /* Background  */
  --clr-black-bg: hsla(0, 0%, 0%, 1);
  --clr-white-bg: hsla(0, 0%, 100%, 1);
  --clr-dark-grey-bg: hsla(0, 0%, 27%, 1);
}

body {
  background-color: var(--clr-white-bg);
  color: var(--clr-grey-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 1.666;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-black-text);
  font-size: var(--fs-28);
  line-height: 1.12;
}

.sm-title {
  text-transform: uppercase;
  color: var(--clr-black-text);
  font-weight: var(--fw-bold);
  font-size: var(--fs-12);
  letter-spacing: 5px;
}

.text {
  font-size: var(--fs-12);
}

/* ================== */
/* Links */
/* ================== */

/* ================== */
/* Buttons & inputs */
/* ================== */
.btn {
  cursor: pointer;
}

/* ================== */
/* Utility styles */
/* ================== */

/* ================== */
/* SECTIONS */
/* ================== */

/* HEADER */

/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */
/* ================== */

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
